@import url('https://fonts.cdnfonts.com/css/star-wars');

body{
    background-image: url(/assets/images/background.jpg)
}



p, h2{
    font-family: 'Star Wars', sans-serif;
    background-color:none;
    color: aliceblue;
}
header {
    display: flex;
    justify-content: space-around;
    height: 150px;
    background-color: #0000008a;
    color: #1945a398;
    align-items: center;
}

#logo-img {
    height: 115px;
    width: 115px;
    border-radius: 100px;
}

#links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

#links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    border-bottom: 3px solid transparent;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

#links a:hover {
    border-bottom: 3px solid rgb(255, 255, 255) ;
    color: rgb(255, 255, 255);
    transform: scale(1.1);
}

#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 20px;
}

#carousel img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

#main-new {
    width: 70%;
    background-color: #ffffff;
}

#aside {
    width: 28%;
    background-color: rgb(28, 51, 128);
}
 main {
    display: flex;
    justify-content: space-around;
 }