@import url('https://fonts.cdnfonts.com/css/star-wars');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

*{
  text-decoration: none;

}
body{
    background-image: url(/assets/images/background.jpg)
}



h1 ,h2, h3{
    font-family: 'Star Wars', sans-serif;
    background-color:none;
    color: #ffffffd8;
}
header {
    display: flex;
    justify-content: space-around;
    height: 150px;
    background-color: #0000008a;
    color: #1945a398;
    align-items: center;
}

#logo-img {
    height: 115px;
    width: 115px;
    border-radius: 100px;
}

.links {
  font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.links a {

    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    border-bottom: 3px solid transparent;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

.links a:hover {
    border-bottom: 3px solid #6a99ff ;
    color: #6a99ff;
    transform: scale(1.1);
}

#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 20px;
}

#carousel img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

#main-new {
    width: 70%;
    background-color: #ffffff;
}

#aside {
    width: 28%;
    background-color: rgb(28, 51, 128);
}

#aside img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

 main {
    display: flex;
    justify-content: space-around;
 }

 .heading {
    font-size: 2rem; /* Define o tamanho da fonte equivalente a 40px */
    text-align: center; /* Alinha o texto ao centro */
    margin: 5rem 0; /* Adiciona uma margem */
  }

 .education {
  padding: 100px 15px; /* Adiciona um espaçamento interno */
  background: var(--secondary-bg-color); /* Define a cor de fundo */
}

.education h2 {
  margin-bottom: 5rem; /* Adiciona uma margem na parte inferior */
}

.timeline-items {
  max-width: 1200px; /* Define a largura máxima */
  margin: auto; /* Adiciona uma margem automática */
  display: flex; /* Faz com que os elementos fiquem em linha */
  flex-wrap: wrap; /* Quebra a linha quando não há espaço */
  position: relative; /* Define a posição relativa */
}

.timeline-items::before {
    /* Adiciona um pseudo-elemento */
    content: ""; /* Adiciona um conteúdo vazio */
    position: absolute; /* Define a posição absoluta */
    width: 5px; /* Define a largura */
    height: 100%; /* Define a altura */
    background-color: #1945a398; /* Define a cor de fundo */
    left: calc(50% - 1px); /* Define a distância da esquerda */
    top: 0; /* Define a distância do topo */
    transform: translateX(-50%); /* Adiciona um efeito de translação */
    border-radius: 5px; /* Adiciona um raio nas bordas */
  }
  
.timeline-item {
  margin-bottom: 40px; /* Adiciona uma margem */
  width: 100%; /* Define a largura */
  position: relative; /* Define a posição relativa */
}

.timeline-item:last-child {
  /* Seleciona o último elemento */
  margin-bottom: 0; /* Remove a margem */
}

.timeline-item:nth-child(odd) {
  /* Seleciona os elementos ímpares */
  padding-right: calc(50% + 30px); /* Adiciona um espaçamento à direita */
  text-align: right; /* Alinha o texto à direita */
}

.timeline-item:nth-child(even) {
  /* Seleciona os elementos pares */
  padding-left: calc(50% + 30px); /* Adiciona um espaçamento à esquerda */
  text-align: left; /* Alinha o texto à esquerda */
}

.timeline-dot {
    height: 21px; /* Define a altura */
    width: 21px; /* Define a largura */
    background-color:#1945a398; /* Define a cor de fundo */
    box-shadow: 0 0 20px #1945a398, 0 0 30px #1945a398; /* Adiciona uma sombra */
    position: absolute; /* Define a posição absoluta */
    left: calc(50% - 11px); /* Define a distância da esquerda */
    border-radius: 50%; /* Adiciona um raio nas bordas */
  }
.timeline-date {
  font-size: 1.6rem; /* Define o tamanho da fonte equivalente a 16px */
  font-weight: 800; /* Define o peso da fonte */
  color: #ffffff; /* Define a cor do texto */
  margin: 0 0 15px; /* Adiciona uma margem */
}

.timeline-content {
  background: #1945a398; /* Define a cor de fundo */
  border: 1px solid #ffffff; /* Adiciona uma borda */
  padding: 30px 50px; /* Adiciona um espaçamento interno */
  border-radius: 5px; /* Adiciona um raio nas bordas */
  box-shadow: 0 0 10px #ffffff; /* Adiciona uma sombra */
  cursor: pointer; /* Adiciona um cursor de ponteiro */
  transition: 0.3s ease-in-out; /* Adiciona uma transição suave */
}

.timeline-content:hover {
  transform: scale(1.05); /* Adiciona um efeito de escala */
  box-shadow: 0 0 20px #ffffff; /* Adiciona uma sombra */
}

.timeline-content h3 {
  font-size: 1.6rem; /* Define o tamanho da fonte equivalente a 16px */
  font-weight: 600; /* Define o peso da fonte */
  color: #ffffff; /* Define a cor do texto */
  margin: 0 0 10px; /* Adiciona uma margem */
}

.timeline-content p {
  font-size: 1.2rem; /* Define o tamanho da fonte equivalente a 16px */
  font-weight: 300; /* Define o peso da fonte */
  color: #ffffff; /* Define a cor do texto */
  line-height: 1.2; /* Define a altura da linha */
}

#P-0-img {
  height: 115px;
  width: 115px;
  border-radius: 100px;
}